<h1>Showing Todo </h1>

<table width = "1000">
    <tr>
    <th> Id </th>
    <th> Name </th>
    <th> Description </th>
    </tr>

    <tr>
        <td width="100">
            <%= @todo.id %>
        </td>

        <td width="100">
            <%= @todo.name %>
        </td>

        <td width="100">
            <%= @todo.description %>
        </td>
    </tr>

</table>