<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todoapp</title>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
